body {
    background-image: linear-gradient(to bottom right, #81ecec, #0984e3);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 60px;
    color: white;
    text-align: center;
    height: 100%;
}